@font-face {
    font-display: swap; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/teachers-v4-latin-regular.woff2') format('woff2');
  }
  
  @font-face {
    font-display: swap; 
    font-family: 'Teachers';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/teachers-v4-latin-regular.woff2') format('woff2'); 
  }
  
  @font-face {
    font-display: swap; 
    font-family: 'Teachers';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/teachers-v4-latin-700.woff2') format('woff2'); 
  }